@import url('../../style/color.css');
@import url('../../style/typo.css');




/* Section About Me */
.sec-about {
  margin: 4rem 1rem;
  /* padding: 0rem 1rem; */
}

.sec-about p {
  text-align: left;
}

.sec-about img {
  border-radius: 1rem;
}


.sec-about-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
  grid-template-rows: 1fr 0.25fr 1fr;
  gap: 1rem;
  text-align: left;
  /* grid-row-gap: rem; */
}
/* .sec-about-grid div {
  background-color: red;
  aspect-ratio: 1;
} */
.item1 {
  grid-column: span 3;
}
.item2 {
  grid-column: span 3;
}
