@import '../../style/color.scss';
@import '../../style/typo.scss';




/* Section About Me */
.sec-about {
  margin: 4rem 1rem;

  p {
    text-align: left;
  }

  img {
    border-radius: 1rem;
  }
}


.sec-about-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
  grid-template-rows: 1fr 0.25fr 1fr;
  gap: 1rem;
  text-align: left;
  /* grid-row-gap: rem; */

  .item1 {
    grid-column: span 3;
  }
  
  .item2 {
    grid-column: span 3;
  }
}

