body, html {
  /* Layout */
  margin: auto;
  min-width: 480px;
  max-width: 920px;
  /* Color */
  color: #f4f4f4; 
  background-color: #161616;
  /* Type */
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
}




/* Common */
h1 {
  font-size: 60px;
  font-weight: 300;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #0f62fe; /* Set the color of unvisited links */
}
a:visited {
  color: #002d9c; /* Set the color of visited links */
}

.btn-svg {
  font-size: 20px;
  font-weight: 400;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  padding: 0 10px;
  opacity: 0.85;
}
.btn-svg:hover {
  opacity: 1.0;
}
.btn-svg:active {
  opacity: 0.75;
}
.btn-svg-icon {
  width: 20px;
  height: auto;
}




/*  Utilities */
.svg-invert {
  filter: invert(70%);
}
.svg-invert:hover {
  filter: invert(85%);
}




/* Section Main */
.sM {
  position: relative;
  width: 100%;
  height: auto;
  /* display: inline-block; */
}
.sM img {
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  opacity: 0.85;
}
.sM h1 {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  text-align: center;
}
.sM h3 {
  text-align: left;
}
.sM .btn-svg-icon {
  vertical-align: middle;
  margin-top: -4px;
}
.sM-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 1fr 30px;
  padding: 20px;
  background-image: radial-gradient(circle at 1px 1px, rgba(255, 255, 255, 0.25) 1px, transparent 0);
  background-size: 4% 4%;
  background-size: 40px 40px;
  background-position: -21px -21px;
  text-align: right;
}
/* .sM-grid > div {
  text-align: right;
  border: 1px solid gray;
} */






/* Section Hello */
.sH {
  position: relative;
  /* margin-bottom: 20px; */
}
.sH h1 {
  font-size: 54px;
}
.sH img {
  border-radius: 5px;
}
.sH .btn-svg-icon {
  width: 22px;
  height: auto;
  vertical-align: middle;
  margin-top: -2px;
}
.sH-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0.5fr 0.25fr;
  gap: 40px;
  padding: 20px;
  text-align: right;
}
/* .sH-grid > div {
  border: 1px solid gray;
} */




/* Section Contact */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.sC {
  text-align: right;
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background: linear-gradient(-45deg, #272525, #262626, #161616, #21272a);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  margin-top: 20px;
  /* opacity: 0.5; */
}
.sC .txt-svg {
  text-align: center;
}
.sC .btn-svg-icon {
  width: 24px;
  height: auto;
  vertical-align: middle;
  margin-top: -2px;
}
.sC-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr .5fr;
  gap: 40px;
  padding: 20px;
  /* text-align: right; */
}
/* .sC-grid > div {
  border: 1px solid gray;
} */



/* Section Footer */



/* Resume */
.sR {
  padding: 20px;
  /* line-height: 1.0; */
}
h2 {
  font-size: 24px;
  font-weight: 300;
}
.sR h3 {
  font-size: 24px;
  font-weight: 600;
}
.sR p.regular {
  font-weight: 400;
  font-style: normal;
  /* line-height: 1.5; */
}
.sR p.sub {
  font-weight: 200;
  font-style: normal;
  line-height: 0.5;
}
.sR p.description {
  font-weight: 400;
  font-style: normal;
}
.sR img {
  position: relative;
  top: 30px;
  border-radius: 10%;
}
.sR .btn-svg {
  color: #f4f4f4;
  text-align: left;
}
.sR .btn-svg-icon {
  vertical-align: middle;
  margin-bottom: 4px;
}



.sR a {
  color: #4589ff; /* Set the color of unvisited links */
}
.sR a:visited {
  color: #0072c3; /* Set the color of visited links */
}


/* Section Info */
.sRI-grid {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 1fr;
}
/* .sRI-grid > div {
  border: 1px solid gray;
} */
.sRI {
  position: relative;
  text-align: left;
  margin-top: 40px;
}


/* Section Summary */
.sRS {
  position: relative;
  text-align: left;
}
.sRS-grid {
  display: grid;
  grid-template-columns: 64px 2fr;
  grid-template-rows: 1fr;
  gap: 20px;
}
/* .sRS-grid > div {
  border: 1px solid gray;
} */



/* Section Experience */
.sRE-grid {
  display: grid;
  grid-template-columns: 64px 2fr;
  grid-template-rows: repeat(9, 0.5fr);
  gap: 20px;
}
/* .sRE-grid > div {
  border: 1px solid gray;
} */
.sRE {
  position: relative;
  text-align: left;
  margin-top: 20px;
}


/* Section Education */
.sREd-grid {
  display: grid;
  grid-template-columns: 64px 2fr;
  grid-template-rows: repeat(2, 0.5fr);
  gap: 20px;
}
/* .sREd-grid > div {
  border: 1px solid gray;
} */
.sREd {
  position: relative;
  text-align: left;
}


/* Section Licenses & Certifications */
.sRLC-grid {
  display: grid;
  grid-template-columns: 64px 2fr;
  grid-template-rows: repeat(2, .5fr);
  gap: 20px;
}
/* .sRLC-grid > div {
  border: 1px solid gray;
} */
.sRLC {
  position: relative;
  text-align: left;
}


/* Skills */
.sRSk {
  position: relative;
  text-align: left;
  /* margin-top: 20px; */
}
.sRSk-grid {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  gap: 40px;
  margin-bottom: 40px;
}
/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {
  .sRSk-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for screens smaller than 600px */
  }
}
/* .sRSk-grid > div {
  border: 1px solid gray;
} */
.sRSkIt-grid {
  text-align: left;
  display: grid;
  grid-template-columns: 32px 2fr;
  grid-template-rows: 1fr;
  gap: 10px;
}
/* .sRSkIt-grid > div {
  border: 1px solid gray;
} */
.sRSkIt-grid .svg-invert {
  width: 100%;
  height: auto;
  filter: invert(70%);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}





















/* Font */
.ibm-plex sans-thin {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.ibm-plex sans-extralight {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.ibm-plex sans-light {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.ibm-plex sans-regular {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ibm-plex sans-medium {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.ibm-plex sans-semibold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.ibm-plex sans-bold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.ibm-plex sans-thin-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
}
.ibm-plex sans-extralight-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}
.ibm-plex sans-light-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.ibm-plex sans-regular-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.ibm-plex sans-medium-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.ibm-plex sans-semibold-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
}
.ibm-plex sans-bold-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}
