body {
  color: #f4f4f4; 
  background-color: #161616;
  margin: auto;
  max-width: 1200px;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
}



/* Common */
.dot-grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 600px;
  background-image: radial-gradient(circle at 1px 1px, rgba(255, 255, 255, 0.25
  ) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}





/* Section Main */
.sM {
  position: relative;
  display: inline-block; /* Ensures container only takes the space of its contents */
}
.sM img {
  width: 800px;
  height: auto;
  opacity: 0.85;
  /* margin: -100px 0px -100px 0px */
}
.sM h1 {
  font-size: 64px;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  line-height: 1;
}
.sM h3 {
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  top: 10%;
  left: 0%;
  transform: translate(-50%, 0%);
}
.sM h4 {
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  bottom: 10%;
  right: 0%;
  transform: translate(50px, 0%);
}
.txt-svg {
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  bottom: 10%;
  right: 0%;
  transform: translate(50px, 0%);
  opacity: 0.85;
}
.txt-svg .svg-icon {
  vertical-align: middle;
  margin-top: -4px;
}
.txt-svg:hover {
  opacity: 1.0;
}





/* Section Hello */
.sH {
  text-align: center;
  /* border-top: 200px; */
  margin-top: 150px;
}
.sH h1 {
  font-size: 64px;
  font-weight: 300;
  /* margin-top: 140px; */
  /* max-width: 80%; */
  /* line-height: 1; */
}
.sH h3 {
  font-size: 24px;
  font-weight: 600;
}
.sH-grid {
  display: grid;
  /* text-align: right; */
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  gap: 40px;
  padding: 20px;
}
.sH-grid > div {
  text-align: right;
  /* border: 1px solid gray; */
}
.sH-txt-svg {
  font-size: 20px;
  font-weight: 400;
  /* position: absolute;
  bottom: 10%;
  right: 0%;
  transform: translate(50px, 0%); */
  opacity: 0.85;
}
.sH-txt-svg .svg-icon {
  vertical-align: middle;
  margin-top: -4px;
}
.sH-txt-svg:hover {
  opacity: 1.0;
}




/* Section Work */
.sW {
  text-align: center;
}
.sW img {
  width: 1200px;
  height: auto;
  /* opacity: 0.5; */
  /* margin: -100px 0px -100px 0px */
}
.sW h1 {
  text-align: right;
  font-size: 64px;
  font-weight: 300;
  position: relative;
  top: 0%;
  right: 0%;
  transform: translate(0%, 150%);
  /* width: 800px; */
  /* line-height: 1; */
}



/* Section 4 */

/* Section Footer */





/*  Utilities */
.svg-invert {
  filter: invert(70%);
}
.svg-invert:hover {
  filter: invert(85%);
}



a {
  color: #0f62fe; /* Set the color of unvisited links */
}
a:visited {
  color: #002d9c; /* Set the color of visited links */
}






h2, .ibm-plex sans-bold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.resume-item, .ibm-plex sans-bold {
  /* Add your styles for the work experience item here */
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  /* padding-bottom: 5px; */
  /* line-height: 0.5; */
}
.resume-item h3, .ibm-plex sans-semibold {
  /* Styles for the Web Developer title */
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 0.5;
}
.resume-item p.regular, .ibm-plex sans-regular {
  /* Styles for the Darkest Medirning about web developum subtitle */
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 0.5;
}
.resume-item p.sub, .ibm-plex sans-extralight {
  /* Styles for the date and description paragraphs */
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  line-height: 0.5;
  /* font-size: 0.9em; */
}
.resume-item p.description, .ibm-plex sans-regular {
  /* Styles for the date and description paragraphs */
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.resume-item ul, .ibm-plex sans-regular {
  /* Styles for the date and description paragraphs */
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* line-height: 1.0; */
  list-style-type: none;
}









/* Font */
.ibm-plex sans-thin {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.ibm-plex sans-extralight {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.ibm-plex sans-light {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.ibm-plex sans-regular {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ibm-plex sans-medium {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.ibm-plex sans-semibold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.ibm-plex sans-bold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.ibm-plex sans-thin-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
}
.ibm-plex sans-extralight-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}
.ibm-plex sans-light-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.ibm-plex sans-regular-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.ibm-plex sans-medium-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.ibm-plex sans-semibold-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
}
.ibm-plex sans-bold-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}


/* Bootstrap Overrides */
.flex-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}