@import url('index.css');



/* Section Info */
.sec-info {
  position: relative;
  /* text-align: left; */
  /* padding: 20px 20px; */
}
.sec-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}







/* Section Experience */
.sec-experience {
  position: relative;
  /* text-align: left; */
  /* margin-top: 20px; */
}
.sec-experience h3 {
  font-weight: 500;
}


/* Section Education */
.sec-education {
  position: relative;
  /* text-align: left; */
}


/* Section Licenses & Certifications */
.sec-lic-cert {
  position: relative;
  /* text-align: left; */
}


/* Section Skills */
.sec-skills {
  position: relative;
  text-align: left;
  /* margin-top: 20px; */
}
.sec-skills-grid {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 40px;
  /* margin-bottom: 40px; */
}
/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {
  .sec-skills-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for screens smaller than 600px */
  }
}
/* .sRSk-grid > div {
  border: 1px solid gray;
} */
.sRSkIt-grid {
  text-align: left;
  display: grid;
  grid-template-columns: 32px 2fr;
  grid-template-rows: 1fr;
  gap: 10px;
}
/* .sRSkIt-grid > div {
  border: 1px solid gray;
} */
.sRSkIt-grid .svg-invert {
  width: 100%;
  height: auto;
  filter: invert(70%);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

