@import url('../style/color.css');
@import url('../style/typo.css');


.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 1rem;
}

.footer ul {
  display: flex;
  justify-content: flex-end;
}

.footer ul img {
  width: 1.5rem;
  height: auto;
  display: block;
  filter: invert(70%);
}
.footer ul img:hover {
  filter: invert(90%);
}
.footer li:last-child {
  margin-right: 0px;
}
.footer p {
  color: var(--grey30);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}