@import url('../style/color.css');
@import url('../style/typo.css');


.navbar {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 10px;
}


.navbar ul {
  text-align: right;
}

.navbar ul a {
  color: var(--grey30);
  margin-top: auto;
  margin-bottom: auto;

  padding: 0;
  margin: 0;

  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0px;
  margin-right: 20px;
}
.navbar ul a:last-child {
  margin-right: 10px;
}
.navbar ul a:hover {
  color: var(--grey10);
}


.navbar img {
  width: 32px;
  height: auto;
  display: block;
  /* margin-left: 0; */
  /* margin-right: auto; */
  filter: invert(70%);
}
.navbar img:hover {
  filter: invert(90%);
}


/* Media query for responsiveness */
/* @media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar {
    flex-direction: column;
  }

  .navbar li {
    margin: 10px 0;
  }
} */
