:root {
  /* https://www.ibm.com/design/language/color */

  /* Red */
  --red100: #2d0709;
  --red90:  #520408;
  --red80:  #750e13;
  --red70:  #a2191f;
  --red60:  #da1e28;
  --red50:  #fa4d56;
  --red40:  #ff8389;
  --red30:  #ffb3b8;
  --red20:  #ffd7d9;
  --red10:  #fff1f1;

  /* Magenta */
  --magenta100: #2a0a18;
  --magenta90:  #510224;
  --magenta80:  #740937;
  --magenta70:  #9f1853;
  --magenta60:  #d02670;
  --magenta50:  #ee5396;
  --magenta40:  #ff7eb6;
  --magenta30:  #ffafd2;
  --magenta20:  #ffd6e8;
  --magenta10:  #fff0f7;

  /* Purple */
  --purple100: #1c0f30;
  --purple90:  #31135e;
  --purple80:  #491d8b;
  --purple70:  #6929c4;
  --purple60:  #8a3ffc;
  --purple50:  #a56eff;
  --purple40:  #be95ff;
  --purple30:  #d4bbff;
  --purple20:  #e8daff;
  --purple10:  #f6f2ff;

  /* Blue */
  --blue100: #001141;
  --blue90:  #001d6c;
  --blue80:  #002d9c;
  --blue70:  #0043ce;
  --blue60:  #0f62fe;
  --blue50:  #4589ff;
  --blue40:  #78a9ff;
  --blue30:  #a6c8ff;
  --blue20:  #d0e2ff;
  --blue10:  #edf5ff;

  /* Cyan */
  --cyan100: #061727;
  --cyan90:  #012749;
  --cyan80:  #003a6d;
  --cyan70:  #00539a;
  --cyan60:  #0072c3;
  --cyan50:  #1192e8;
  --cyan40:  #33b1ff;
  --cyan30:  #82cfff;
  --cyan20:  #bae6ff;
  --cyan10:  #e5f6ff;

  /* Teal */
  --teal100: #081a1c;
  --teal90:  #022b30;
  --teal80:  #004144;
  --teal70:  #005d5d;
  --teal60:  #007d79;
  --teal50:  #009d9a;
  --teal40:  #08bdba;
  --teal30:  #3ddbd9;
  --teal20:  #9ef0f0;
  --teal10:  #d9fbfb;

  /* Green */
  --green100: #071908;
  --green90:  #022d0d;
  --green80:  #044317;
  --green70:  #0e6027;
  --green60:  #198038;
  --green50:  #24a148;
  --green40:  #42be65;
  --green30:  #6fdc8c;
  --green20:  #a7f0ba;
  --green10:  #defbe6;

  /* Greys */
  --coolgrey100: #121619;
  --coolgrey90:  #21272a;
  --coolgrey80:  #343a3f;
  --coolgrey70:  #4d5358;
  --coolgrey60:  #697077;
  --coolgrey50:  #878d96;
  --coolgrey40:  #a2a9b0;
  --coolgrey30:  #c1c7cd;
  --coolgrey20:  #dde1e6;
  --coolgrey10:  #f2f4f8;

  --grey100: #161616;
  --grey90:  #262626;
  --grey80:  #393939;
  --grey70:  #525252;
  --grey60:  #6f6f6f;
  --grey50:  #8d8d8d;
  --grey40:  #a8a8a8;
  --grey30:  #c6c6c6;
  --grey20:  #e0e0e0;
  --grey10:  #f4f4f4;

  --warmgrey100: #171414;
  --warmgrey90:  #272525;
  --warmgrey80:  #3c3838;
  --warmgrey70:  #565151;
  --warmgrey60:  #726e6e;
  --warmgrey50:  #8f8b8b;
  --warmgrey40:  #ada8a8;
  --warmgrey30:  #cac5c4;
  --warmgrey20:  #e5e0df;
  --warmgrey10:  #f7f3f2;

  --alert60: #da1e28;
  --alert50: #24a148;
  --alert40: #ff832b;
  --alert30: #f1c21b;
}
